.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.item-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 616px) {
  .list {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}
