.image-main {
  display: flex;
  height: 90%;
  align-self: center;
}

@media (max-width: 710px) {
  .image-main {
    display: grid;
    width: 100%;
    border-radius: 1.5rem;
    height: 100%;
    object-fit: cover;
  }
}
