.container {
  width: 60%;
  background-color: white;
  display: flex;
  height: 90%;
  border-radius: 1.5rem;
  justify-content: space-around;
  overflow: hidden;
}

@media (max-width: 710px) {
  .container {
    height: calc(90% + 280px);
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
    justify-content: space-between;
  }
}
