form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.label-email {
  font-weight: bolder;
  padding-top: 2rem;
  font-size: 0.8rem;
}

@media (max-width: 616px) {
  .label-email {
    padding-top: 1rem;
  }
  form {
    gap: 0.4rem;
  }
}
