.div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 4px;
  flex-wrap: wrap;
}

@media (max-width: 710px) {
  .div-main {
    display: grid;
    order: 2;
  }
}
